# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
fastapi[all]==0.89.0
uvicorn[standard]==0.20.0
gunicorn==20.1.0
regex==2023.3.23
scikit-learn==1.2.2
scipy==1.10.1
pydantic==1.10.7
pickleshare==0.7.5